* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { user-select: none; }

html, body {
    width: 100vw;
    overflow-x: hidden;
}

body {
    line-height: 1.6;
    background-color: #131313;
    position: relative;
}


#cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    display: none;
}

#loading-screen {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131313;
    opacity: 0;
}