.cardDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 270px;
  min-height: 100px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: #111111;
}

.cardHeader {
  width: 100%;
  height: 20px;
  border-radius: 20px 20px 0 0;
  position: relative;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
  }
}

.editBtn {
  position: absolute;
  top: 4px;
  right: 38px;
  color: #757575;
}

.trashBtn {
  position: absolute;
  top: 5px;
  right: 7px;
}

.trashIcon {
  background-color: transparent;
  color: #757575;
  margin: auto;
  width: 13px;
  height: 13px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 5% 0 5%;
  font-size: 18px;
}

.name {
  margin-right: 30px;
}

.value {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding-bottom: 20px;
  margin-top: -5px;
}

.firebaseLogo {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  margin: 0 5% 0 5%;
  min-height: 40px;

  button {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    transform: translateY(-7px);
    cursor: pointer;
  }
}

.liked {
  color: #9466e8;
  p {
    color: #757575;
  }
}
.liked:hover {
  p {
    color: black;
  }
}

.notLiked {
  color: #757575;
}
.notLiked:hover {
  color: black;
}
